<div class="container mt-5">
  <div class="justify-content-center">

    <form class="logout-form" method="POST" action="/login">
      <input type="hidden" name="type" class="form-control" id="type" value="Logout">
      <button type="submit" name="submit" class=" btn btn-secondary float-right">Logout</button>
    </form>
    <h1 class="mt-5">Welcome to the World of Node JS and Express!!!</h1>
  </div>
</div>